.map {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(33, 20px);
    grid-column-gap: 40px;
  }

  @media screen and (max-width: 800px) {
    &__list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
  }
}
