.table {
  position: relative;
  border-collapse: collapse;
  min-width: 800px;
  width: 100%;
  display: block;

  &-container {
    flex-grow: 1;

    @media screen and (max-width: 1170px) {
      overflow-x: scroll;
    }
  }

  &-border {
    display: flex;
    justify-content: center;
    border: 4px solid #4c7298;
    border-radius: 15px;
    margin-top: 50px;
  }

  //&-hidden {
  //  white-space: nowrap;
  //  overflow: hidden;
  //  text-overflow: ellipsis;
  //  cursor: pointer;
  //}
  //
  //.table__toolkit-abs {
  //  display: block;
  //  position: absolute;
  //  top: 58px;
  //  left: 0;
  //  background-color: #4c7298;
  //  width: 227px;
  //  padding: 15px 10px;
  //  border-radius: 15px;
  //}

  //.table__tr-body:hover .table__toolkit-abs {
  //  display: block;
  //}

  &__toolkit-relative {
    position: relative;
  }

  &__tr {
    &-thead {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: #456B92;
    }



    &-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 65px;

      @media screen and (max-width: 1130px) {
        gap: 21px;
      }

      & img {
        cursor: pointer;
      }
    }

    &-body {

      & td  {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        //position: relative;
        min-width: 227px;
        padding: 0 8px 0 15px;
        text-align: start;
        font-weight: 300;
        font-size: 22px;
        line-height: 136%;
        color: #292929;
      }

      &:last-child td {
        border-bottom: none;
      }
    }

    & th, td {
      cursor: pointer;
      max-width: 227px;
      width: 20%;

      border: 2px solid #B4B2B2;
      border-top: none;
      padding: 0 8px 0 30px;
      height: 60px;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
        padding: 0;
      }

    }
  }
}