.modalForm {

  &__selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
      cursor: pointer;

      & img {
        padding-top: 2px;
      }
    }
  }

}
